#wasd-keys > div {
  width: fit-content;
}
#wasd-keys > div:nth-of-type(2) {
  padding: 0 0 0 15px;
}
#wasd-keys > div:nth-of-type(3) {
  padding: 0 0 0 50px;
}

#wasd-keys .key {
  border: 1px solid var(--purp3);
  background-color: var(--white);
  color: var(--purp2);
  width: 60px;
  height: 60px;
  font-size: 33px;
  line-height: 60px;
  border-radius: 5px;
  display: inline-block;
  margin: 2px;
  text-align: center;
  transition: all 0.2s;
  user-select: none;
  outline-color: var(--purp)
}
#wasd-keys .key.active {
  color: var(--purp);
  border-color: var(--purp);
}
