#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20px auto 0 auto;
  max-width: 500px;
  border: 1px solid var(--purp3);
}
#app > div {
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}